* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background: linear-gradient(rgba(250, 250, 250, 0.25),rgba(250, 250, 250, 0.25)), 
    url('Images/alfons-morales-410757-unsplash-compressed.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Libre Baskerville', 'Garamond', serif;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
    color: #3D1410;
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header h1 {
    text-align: center;
    margin: 80px auto 10px auto;
    display: inline-block;
    opacity: 0.8;
    font-size: 40px;
    font-family: 'Satisfy', cursive;
    background-color: #3d1410;
    color: bisque;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
}

header h2 {
    font-family: 'Libre Baskerville', 'Garamond', serif;
    font-size: 20px;
    font-weight: 400;
    color: #3d1410;
    background-color: bisque;
    opacity: 0.9;
    border-radius: 6px;
    padding: 5px 6px;
    box-shadow: 1px 1px 10px black;
}

.search-form {
    margin-top: 10px;
    background-color: bisque;
    border-radius: 6px;
    text-align: center;
    padding: 20px 0;
    color: #3d1410;
    opacity: 0.9;
    box-shadow: 1px 1px 10px black;
}

.search-box {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 16px;
    width: 80%;
    height: auto;
    padding: 4px;
    vertical-align: top;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.search-button {
    background: url('Images/icons8-search-50bisque.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 26px;
    width: 26px;
    vertical-align: top;
    border-radius: 6px;
    background-color: #3D1410;
    color: bisque;
    cursor: pointer;
}

.search-note {
    font-size: 13px;
    display: block;
    padding: 0 6px;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: bisque;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
}

nav h1 {
    font-family: 'Satisfy', cursive;
    color: #3D1410;
    font-size: 24px;
    float: left;
    padding: 5px 10px 1px 8px;
    margin-left: 2px;
    cursor: pointer;
}

nav form {
    float: right;
}

.search-box-nav {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 13px;
    position: absolute;
    top: 8px;
    right: 38px;
    border-radius: 6px;
    padding: 4px;
    width: 50%;
}

.search-button-nav {
    position: absolute;
    top: 8px;
    right: 8px;
    background: url('Images/icons8-search-50bisque.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 24px;
    width: 24px;
    vertical-align: top;
    border-radius: 6px;
    background-color: #3D1410;
    cursor: pointer;
}

.error-message {
    background-color: bisque;
    color: rgb(168, 4, 4);
    text-align: center;
    font-size: 18px;
    margin-top: 60px;
    padding: 15px;
    border-radius: 6px;
}

main {
    padding-top: 50px;
}

.result-element:hover {
    background-color: #8B4513;
    opacity: 0.9;
}

.next-button:hover, .previous-button:hover, .back-button:hover {
    background-color: #eebf95;
}

.search-button:hover, .search-button-nav:hover {
    background-color: #52361b;
}

.search-results-total {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #3d1410;
    background-color: bisque;
    opacity: 0.9;
    border-radius: 6px;
    padding: 5px 6px;
    box-shadow: 1px 1px 10px black;
}

.search-results-list article {
    margin-bottom: 10px;
}

h3.result-title {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 7px;
    padding: 4px 0 10px;
    display: block;
}

.search-results-list article img {
    margin: 0 4px 4px 7px;
    width: 20%;
    max-width: 110px;
    box-shadow: 1px 1px 10px grey;
    display: inline-block;
}

.result-info {
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
    width: 73%;
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 14px;
}

.search-results-list article p {
    font-size: 14px;
    margin: 0 7px;
    padding: 0 0 5px;
}

.previous-button {
    float: left;
}

.next-button {
    float: right;
}

.previous-button, .next-button {
    background-color: bisque;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0.9;
    box-shadow: 1px 1px 10px black;
}

footer {
    width: 100%;
    background-color: bisque;
    color: #3D1410;
    position: relative;
    box-shadow: 1px 1px 10px black;
}

.top-button {
    font-size: 16px;
    display: inline-block;
    padding-left: 13px;
    padding-bottom: 7px;
}

footer p {
    font-family: 'Libre Baskerville', 'Garamond', serif;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    right: 13px;
    bottom: 7px;
}

.back-button {
    font-size: 12px;
    position: fixed;
    width: 100%;
    margin-left: 0px;
    padding: 0;
    top: 40px;
    z-index: 1;
    background-color: bisque;
    box-shadow: 0 4px 3px -3px black;
}

.book-detail-card {
    margin-top: 20px; 
}

.result-card {
    margin-bottom: 10px;
}

.result-card h2 {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    float: right;
    padding: 5px 7px 10px;
}

.result-card h3 {
    clear: right;
    padding: 0 7px 10px;
    text-align: center;
    font-size: 16px;
}

.result-card h4, .pub-data, .book-detail-card li {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 13px;
    display: block;
    margin-left: 10px;
}

.book-detail-card .detail-thumbnail {
    clear: left;
    float: right;
    width: 35%;
    max-width: 128px;
    margin: 0 10px 10px 5px;
    box-shadow: 1px 1px 10px black;
}

.book-detail-card::after {
    content: "";
    display: table;
    clear: both;
}

.result-card h4 {
    clear: left;
    font-size: 15px;
    font-weight: 700;
}

.detail-summary {
    clear: both;
    font-family: 'Libre Baskerville', 'Garamond', serif;
    font-size: 13px;
    position: relative;
    max-height: 17.6em;
    line-height: 1.5em;
    margin: 0 7px;
    overflow: hidden;
}

.detail-summary:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.6em;
    background: linear-gradient(to bottom, rgba(255, 228, 196, 0), rgba(255, 228, 196, 1) 90%);
}

.result-card .open-new-page-symbol {
    width: 18px;
    box-shadow: none;
}

.detail-links {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 16px;
    clear: both;
    display: block;
    padding-top: 5px;
    margin: 0 7px 5px 7px;
}

.preview-link, .read-link {
    position: relative;
}

.read-link {
    float: right;
}

.book-detail-card .open-new-page-symbol,
.wiki-card .open-new-page-symbol,
.youtube-card .open-new-page-symbol,
.amazon-card .open-new-page-symbol,
.tastedive-card .open-new-page-symbol {
    position: relative;
    vertical-align: bottom;
}

.wiki-card .mw-empty-elt {
    display: none;
}

.wiki-card article {
    font-size: 13px;
    clear: right;
    margin: 0 10px 0px;
    position: relative;
    line-height: 1.6em;
    overflow: hidden;
    max-height: 35.3em;
}

i {
    font-style: italic;
}

b {
    font-weight: 700;
}

.wiki-card article:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.7em;
    background: linear-gradient(to bottom, rgba(255, 228, 196, 0), rgba(255, 228, 196, 1) 90%);
}

.wiki-link {
    padding-top: 10px;
}

.wiki-link, .youtube-link, .amazon-link, .tastedive-link {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: 100%;
    bottom: 5px;
    text-align: center;
}

.youtube-list {
    clear: both;
    margin: 0 10px 10px;
}

.youtube-list li {
    clear: both;
}

.youtube-card li img {
    margin: 0 10px 10px 0;
    width: 40%;
    float: left;
}

.youtube-card li h3 {
    padding: 0;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.amazon-logo {
    width: 100%;
    padding: 57px 60px 45px;
}

.book-title {
    font-style: italic;
    display: block;
    margin: 7px 0;
}

.tastedive-list {
    margin-bottom: 15px;
}

.tastedive-list a {
    font-size: 13px;
    display: block;
    margin: 0 10px 10px;
}

.search-results-list article, .result-card {
    font-family: 'Libre Baskerville', 'Garamond', serif;
    background-color: bisque;
    color: #3d1410;
    opacity: 0.9;
    border-radius: 6px;
    box-shadow: 1px 1px 10px black;
}

.search-results-list, .isbn, .youtube-list, .tastedive-list {
    list-style: none;
}

@media only screen and (min-width: 430px) {
    header h1 {
        margin: 140px auto 40px auto;
        font-size: 56px;
    }
    header h2 {
        display: inline-block;
        font-size: 26px;
    }
    .search-box {
        padding: 10px;
        font-size: 18px;
        margin-right: 10px;
    }
    .search-button {
        height: 40px;
        width: 40px;
    }
    .search-note {
        font-size: 15px;
    }
    nav h1 {
        font-size: 36px;
        padding: 8px 12px 3px 10px;
        margin-left: 5px;
    }
    nav form {
        float: left;
        width: 50%;
    }
    .search-box-nav {
        position: relative;
        top: 19px;
        left: 10px;
        width: 70%;
        float: left;
        max-width: 500px;
        font-size: 16px;
    }
    .search-button-nav {
        position: relative;
        top: 19px;
        left: 16px;
        float: left;
        height: 26px;
        width: 26px;
    }
    .error-message {
        margin-top: 100px;
    }
    main {
        padding-top: 80px;
    }
    .search-results-total {
        font-size: 16px;
        display: inline-block;
    }
    h3.result-title {
        font-size: 18px;
    }
    .publication-data {
        font-size: 15px;
    }
    .previous-button, .next-button {
        font-size: 14px;
    }
    .back-button {
        top: 63px;
        font-size: 14px;
    }
    .result-card h2 {
        font-size: 17px;
        padding: 10px;
    }
    .result-card h3 {
        font-size: 18px;
    }
    .result-card h4 {
        font-size: 16px;
        margin-left: 20px;
    }
    .pub-data, .book-detail-card li {
        font-size: 14px;
        margin-left: 20px;
    }
    .book-detail-card .detail-thumbnail {
        margin: 0 20px 10px;
    }
    .detail-summary {
        font-size: 14px;
        max-height: 7.5em;
        margin: 0 20px;
    }
    .detail-links {
        font-size: 17px;
        margin: 0 10px 10px;
    }
    .wiki-card article {
        font-size: 14px;
        margin: 0 20px;
        max-height: 19em;
    }
    .wiki-link, .youtube-link, .amazon-link, .tastedive-link {
        font-size: 17px;
    }
    .youtube-list {
        margin: 0 20px 10px;
    }
    .youtube-card li img {
        margin: 0 15px 20px 0;
    }
    .youtube-card li h3 {
        font-size: 13px;
    }
    .tastedive-list a {
        font-size: 14px;
        margin: 0 20px 10px;
    }
}